<a href="https://colab.research.google.com/github/abakm/AL-ML_Assignment-1/blob/master/case_study01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. Load the dataset in Python environment

In [3]:
import pandas as pd # import pandas module

df = pd.read_csv('./train_loan.csv') # read the csv file

print(df) # print dataframe

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

### 2. Perform different preprocessing steps

### a. Missing value handling

In [6]:
df.isnull().sum() # check for missing values
# Missing value handling is done by following values

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

### a.1 Fill missing values with a specific value (e.g., 'Unknown' for text, 0 for numbers)

In [9]:
fill_na_df = df.fillna({
    "Dependents":0,
    "LoanAmount":0,
    "Loan_Amount_Term":0,
    "Gender": "Unknown",
    "Married": "Unknown",
    "Self_Employed":  "Unknown",
    "Credit_History":0
})
# fill missing values with 'Unknown for text and 0 for numeric'
print(fill_na_df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         0.0             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

### a.2 Drop rows with any missing value

In [14]:
df=df.dropna() # drop rows with any missing value
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[480 rows x 13 columns]

### b. Outlier detection

### c. Encoding

There are two types are
1. Label Encoding
2. One-Hot Encoding

### c.1.Label Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding to the 'Property_Area' column
df["Property_Area_label"] = label_encoder.fit_transform(df["Property_Area"])
print(df['Property_Area_label'])

1      0
2      2
3      2
4      2
5      2
      ..
609    0
610    0
611    2
612    2
613    1
Name: Property_Area_label, Length: 480, dtype: int64

### c.2 One-Hot Encoding

In [19]:
# Apply One-Hot Encoding to the 'Property_Area' column
one_host_encoded =  pd.get_dummies(df["Property_Area"], prefix="Property_Area")

# Concatenate the one-hot encoded columns with the original DataFrame
df = pd.concat([df, one_host_encoded], axis=1)
print("\nDataFrame after One-Hot Encoding the 'Property_Area'")
print(df)

DataFrame after One-Hot Encoding the 'Property_Area'
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status  Property_Area_label  \
1               1.0         Rural           N                    0
2               1.0         Urban           Y                    2
3               1.0         Urban           Y                    2
4               1.0         Urban           Y                    2
5               1.0         Urban           Y                    2
..              ...           ...         ...                  ...
609             1.0         Rural           Y                    0
610             1.0         Rural           Y                    0
611             1.0         Urban           Y                    2
612             1.0         Urban           Y                    2
613             0.0     Semiurban           N                    1

     Property_Area_Rural  Property_Area_Semiurban  Property_Area_Urban
1                   True                    False                False
2                  False                    False                 True
3                  False                    False                 True
4                  False                    False                 True
5                  False                    False                 True
..                   ...                      ...                  ...
609                 True                    False                False
610                 True                    False                False
611                False                    False                 True
612                False                    False                 True
613                False                     True                False

[480 rows x 17 columns]

### d. Scaling

### d.1.	Min-Max Scaling

In [27]:
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler object
scaler = MinMaxScaler()
columns = df.select_dtypes(include=['number']).columns.tolist()


# Apply Min-Max Scaling to the DataFrame for numeric columns
df_min_max_scaled = pd.DataFrame(scaler.fit_transform(df[columns]))
print(df_min_max_scaled)

            0         1         2         3    4    5
0    0.054830  0.044567  0.201354  0.729730  1.0  0.0
1    0.035250  0.000000  0.096447  0.729730  1.0  1.0
2    0.030093  0.069687  0.187817  0.729730  1.0  1.0
3    0.072356  0.000000  0.223350  0.729730  1.0  1.0
4    0.065145  0.124006  0.436548  0.729730  1.0  1.0
..        ...       ...       ...       ...  ...  ...
475  0.034014  0.000000  0.104907  0.729730  1.0  0.0
476  0.048930  0.000000  0.052453  0.324324  1.0  0.0
477  0.097984  0.007093  0.412860  0.729730  1.0  1.0
478  0.091936  0.000000  0.301184  0.729730  1.0  1.0
479  0.054830  0.000000  0.209814  0.729730  0.0  0.5

[480 rows x 6 columns]